/* landing page */

.landing {
  display: flex;
  flex-direction: column;
}

.masthead a {
  font-weight: bold !important;
}

.ui.menu {
  border: none !important;
}

.masthead {
  height: 100%;
  width: 100%;
  display: block;
  background-size: cover !important;
  background: url('https://static.pexels.com/photos/1714/city-people-woman-street.jpg') center fixed !important;
}

.ui.text.container.title {
    padding: 1em 0rem;
}
.ui.text.container h1 {
  font-size: 5em;
}

.ui.text.container h2 {
  font-size: 1.5em;
}

.foot {
  padding: 1em;
  position:absolute;
  bottom:0;
  width: 100%;
}

#login {
}

@media only screen and (max-height: 400px) {

  .masthead {
    background-size: cover !important;
  }

  .ui.text.container h1 {
    font-size: 0.4em;
  }
  .ui.text.container h2 {
    font-size: 1em;
  }

}


@media only screen and (max-height: 480px) {

  .masthead {
    background-size: cover !important;
  }


  .ui.text.container h1 {
    font-size: 4em;
  }
  .ui.text.container h2 {
    font-size: 1em;
  }

}

@media only screen and (min-height: 480px) {

  .masthead {
    background-size: cover !important;
  }

  .ui.text.container.title {
      padding: 3em 0em;
  }

  .ui.text.container h1 {
    font-size: 4em;
  }
  .ui.text.container h2 {
    font-size: 1em;
  }


}

@media only screen and (min-height: 800px) {

  .masthead {
    background-size: cover !important;
  }

  .ui.text.container.title {
      padding: 7em 0em;
  }

  .ui.text.container h1 {
    font-size: 6em;
  }
  .ui.text.container h2 {
    font-size: 2em;
  }


}

@media only screen and (min-height: 1500px) {


  .ui.text.container.title {
      padding: 30em 0em;
  }

  .ui.text.container h1 {
    font-size: 17em;
  }
  .ui.text.container h2 {
    font-size: 3em;
  }


}
